<h1 class="title">Carrito {{_id}}</h1>

{{#each products}}
    <div class="productosCarrito">
        <h2>{{this.product.description}}</h2>
        <p>Categoria: {{this.product.category}}</p>
        <p>Precio: {{this.product.price}}</p>
    </div>
    <br><br>
{{/each}}