<div class="loginForm">
    <h1>Login de Usuario</h1>
    <form action="" id="loginForm">

        <label for="email">Email</label>
        <input type="text" name="email">
        <br/>
        <br/>
        <label for="password">Contraseña</label>
        <input type="password" name="password">
        <br/>
        <br/>
        <button class="btn" type="submit">Iniciar Sesion</button>
        <button class="btn" onclick="window.location.replace('/register')">Registrarse</button>
    </form>
        <p>Olvidaste tu Contraseña? <a href="/resetPassword">Haz click aqui</a></p>
        <a href="/api/sessions/github"><button class="btn">Iniciar Sesion Con Github</button></a>
</div>

<script src="/js/login.js"></script>