<h2>Introduce tu E-mail para reestablecer la Contraseña</h2>

<form action="" id="resetPasswordForm">
    <label for="email">Email</label>
    <input type="text" name="email">

    <button class="btn" type="submit">Enviar Correo</button>
</form>

<script>
    const resetPasswordForm = document.getElementById('resetPasswordForm')

    resetPasswordForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const formData = new FormData(resetPasswordForm);
        let payload = {};
        formData.forEach((value, key) => payload[key] = value);
        fetch('/api/sessions/resetPassword', {
            method: 'POST',
            body: JSON.stringify(payload),
            headers: {
                'Content-Type': 'application/json'
            }
        })
    })
</script>