<div class="loginForm">
    <h1>Formulario para Restaurar Contraseña</h1>
    <form action="" id="resetPasswordForm">

        <label for="email">Email</label>
        <input type="text" name="email">
        <br/>
        <br/>
        <label for="password">Nueva Contraseña</label>
        <input type="password" name="password">
        <br/>
        <br/>
        <button class="btn" type="submit">Restaurar contraseña</button>
    </form>
</div>

<script src="/js/resetPassword.js"></script>